/* HP kecil */
@media (max-width: 480px) {

  /* cart */
  .cart-container {
    height: 100vh;
  }

  .head-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 1000;
    display: flex;
    padding: 15px;
    align-items: center;
    padding-bottom: 15px;
    background-color: var(--primary-color);
  }

  .head-bar div {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  .content-cart {
    padding: 15px 10px 60px;
  }

  /* .cart-item {
    display: grid;
    grid-template-columns: 40px 100px 1fr 120px;
    align-items: center;
    gap: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: linear-gradient(135deg, #adc5b7, #C4D1C9, #D8E0DB);
  } */

  .cart-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: linear-gradient(135deg, #adc5b7, #C4D1C9, #D8E0DB);
  }

  .cart-desc{
    width: 180px;
  }

  .cart-item img {
    width: 90px;
    height: auto;
  }

  .cart-item h3 {
    margin: 0;
    font-size: 16px;
  }

  .cart-item p {
    margin: 4px 0 0;
  }

  /* .cart-item div:last-child {
    display: flex;
    align-items: center;
    } */

  .cart-item div:last-child {
    width: 80px;
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 65px;
    padding: 0 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  }

  .btn-payment {
    border: none !important;
    width: 120px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    /* border-radius: 5px; */
    background-color: var(--primary-color);
    color: #fff;
  }

  .check-all {
    font-size: 18px;
    font-weight: bold;
  }

  .total-price {
    font-size: 20px;
    font-weight: bold;
  }

  .btn-payment:hover {
    font-weight: bold;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
  }

  .ant-checkbox {
    width: 20px;
    height: 20px;
  }

  .ant-checkbox-checked {
    height: 20px;
    width: 20px;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
  }

  .ant-checkbox:hover {
    border-color: var(--primary-color) !important;
  }

  .check-all .ant-checkbox.ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #52c41a !important;
    border-color: #52c41a !important;
  }

  .ant-checkbox-checked::after {
    width: 11px;
    height: 12px;
    border-color: #fff;
  }

  .qty-control {
    display: flex;
    align-items: center;

  }

  .qty-btn {
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
  }

  .qty-btn:hover {
    background: var(--primary-color);
  }

  .qty-value {
    min-width: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #111827;
  }

  /* Modal */
  .ant-modal-confirm .ant-modal-content {
    border-radius: 16px;
    padding: 20px;
  }

  .ant-modal-confirm-title {
    font-size: 16px !important;
    font-weight: 600;
  }

  .ant-modal-confirm-content {
    font-size: 14px !important;
    line-height: 1.5;
  }

  .ant-modal-confirm-btns {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .ant-modal-confirm-btns button {
    flex: 1;
    height: 48px;
    margin: 0 !important;
    border-radius: 12px;
  }

  .ant-btn.cart-delete-btn {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #fff !important;
    font-weight: 600;
  }

  .ant-btn.cart-delete-btn:hover {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    opacity: 0.9;
  }

  .ant-btn.cart-cancel-btn {
    font-weight: 500;
  }

  /* .delete-cart-btn {
        background: var(--primary-color) !important;
        border-color: var(--primary-color) !important;
        color: #fff !important;
      }
    
      .delete-cart-btn:hover {
        opacity: 0.9;
        background: var(--primary-color) !important;
        border-color: var(--primary-color) !important;
      } */
}